
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

.content {
    width: 100%;
    max-width: 1366px;
}
.login-title {
    width:261px;
    margin: 0 auto;
}
.login-title p {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color:black;
}
.login-title img {
    width:100%
}
.login-title hr {
    background-color: #000;
    height: 1px;
}
.content-center {
    padding-top:40px;
    width: 30%;
    margin: 0 auto;
}
.content-center h1{
    text-align:center;
}
.login-form p {
    display: inline-block;
    width: 20%;
    color: black;
}
.input {
    display: inline-block;
    width: 75%;
    color:black;
}
input[type=submit] {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
}
input[type=submit]:hover {
    background-color: black;
    color: white;
}