.info {
    width: 90%;
    margin: 0 auto;
}

    .info tr th {
        background-color: dimgrey;
        color: white;
    }

.navi {
    background-color: dimgray;
    font-size: 0;
}

.nav ul {
    width: 100%;
}

.navi ul li {
    font-size: 18px;
    color: white;
    display: inline-block;
}

.navi ul li:hover {
    background-color: black;
    transition: background-color 0.5s ease-out;
}

.navi ul li a {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    color: white;
    display: inline-block;
    margin-right:-4px;
}

.container .row .col-md-2 #mask {
    background-color: dimgray;
    text-decoration: none;
    color: white;
    padding:15px;
    border-radius: 7px;
}
.container .row .col-md-2 form #exp {
    background-color: dimgray;
    border: none;
    border-radius:7px;
    padding: 15px;
    color: white;
} 
