.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

.content {
    width: 100%;
    max-width: 1366px;
}
.login-title {
    width:261px;
    margin: 0 auto;
}
.login-title p {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color:black;
}
.login-title img {
    width:100%
}
.login-title hr {
    background-color: #000;
    height: 1px;
}
.content-center {
    padding-top:40px;
    width: 30%;
    margin: 0 auto;
}
.content-center h1{
    text-align:center;
}
.login-form p {
    display: inline-block;
    width: 20%;
    color: black;
}
.input {
    display: inline-block;
    width: 75%;
    color:black;
}
input[type=submit] {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
}
input[type=submit]:hover {
    background-color: black;
    color: white;
}
.navigation-bar {
    float: left;
    list-style-type: none;
}
.navigation-bar li {
    display: inline-block;
    width: 80px;
    padding: 15px;
    cursor: pointer;
}
.navigation-bar li a {
    color: black;
    text-decoration: none;
}
#navbar-logo {
    width: 280px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: black;
    cursor: default;
}
/* NAVIGATION */
nav {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 50px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}



/* SHIFT */
nav.shift ul li a {
    position: relative;
    z-index: 1;
}

nav.shift ul li a:hover {
    color: white;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: black;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.list-box {
    margin: 30px;
    width: 200px;
    height: 200px;
    border:solid 1px black;
    display:inline-block;

}
.list-box p {
    display: inline;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;

}
.list-box div {
    margin: 30px 0;
    text-align: center;
}
.list-box:hover {
    background-color:black;
    color:white;
}