
@{
    ViewBag.Title = "SendEmailResult";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@{
    var id = Request.Url.Segments.Last();
}
@if (id == "1")
{
    <h2>Email Sent Succesfully</h2>
    @Html.ActionLink("Go back to index", "Index");
}
else
{
    <h2>Something went wrong! Try again!</h2>
    @Html.ActionLink("Go back", "SendEmail");
}


